{{>header}}
<h3>REPORT GENERATION</h3>
    <div class="buttons">
      <table class="mainbuttons">
        <tr>
          <td class="homeTd"><a class="btn" href="publication">Journal</a></td>
          <td class="homeTd"><a class="btn" href="bookChapter">Book Chapter</a></td>
          <td class="homeTd"><a class="btn" href="conference">Conference</a></td>
        </tr>
        <tr>
          <td class="homeTd"><a class="btn" href="expertTalk">Expert Talks</a></td>
          <td class="homeTd"><a class="btn" href="invitedTalk">Invited Talks</a></td>
          <td class="homeTd"><a class="btn" href="workshop">Workshops/Seminars</a></td>
        </tr>
        <tr>
          <td class="homeTd"><a class="btn" href="fdp">Faculty Development Programmes</a></td>
          <td class="homeTd"><a class="btn" href="adp">Administrative Development Programmes</a></td>
          <td class="homeTd"><a class="btn" href="paperReviewer">Paper Reviewers</a></td>
        </tr>
      </table>
    </div>
    <p align = "center"><img src="images/ins1.png" alt="instructions"></p>


{{>footer}}