<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>LNMIIT</title>
    <link rel="stylesheet" href="css/style.css">
    {{!-- <link rel="icon" href="favicon_io/favicon.png"> --}}

  </head>
  <body>
    <div class="headings">
      <img class= "logo" src="images/LNMIIT.png" alt="lnmiit logo">
      <h1>THE LNM INSTITUTE OF INFORMATION TECHNOLOGY</h1>
      <h2>"EXCELLENCE OUR MOTTO DISCIPLINE OUR WAY"</h2>
    </div>